
       <footer class="global-footer">
         <div class="module">
           <div class="global-footer__logo global-footer__column">
             <span>LeanKit</span>
           </div>
           <div class="global-footer__link-map global-footer__column">
             <div class="global-footer__link-map__title global-footer__heading">
               <h4>Learn More</h4>
             </div>
             <div class="global-footer__link-map__list">
               <ul>
                 <li><a href="/product/">Product Tour</a></li>
                 <li><a href="http://info.leankit.com/product-demo">Product Demo</a></li>
                 <li><a href="/customers/">Case Studies</a></li>
                 <li><a href="/kanban/kanban-board-examples-for-development-and-operations/">Board Examples</a></li>
                 <li><a href="/blog/category/products-and-features/">New Features</a></li>
               </ul>
             </div>
           </div>
           <div class="global-footer__link-map global-footer__column">
             <div class="global-footer__link-map__title global-footer__heading">
               <h4>Support</h4>
             </div>
             <div class="global-footer__link-map__list">
               <ul>
                 <li><a href="https://support.leankit.com/hc/en-us/requests/new">Help Center</a></li>
                 <li><a href="https://support.leankit.com/hc/en-us">Knowledge Base</a></li>
                 <li><a href="http://info.leankit.com/subscription-agreement">Subscription Agreement</a></li>
                 <li><a href="http://info.leankit.com/privacy-policy">Privacy Policy </a></li>
                 <li><a href="http://info.leankit.com/refund-policy">Refund Policy </a></li>
               </ul>
             </div>
           </div>
           <div class="global-footer__link-map global-footer__column">
             <div class="global-footer__link-map__title global-footer__heading">
               <h4>About</h4>
             </div>
             <div class="global-footer__link-map__list">
               <ul>
                 <li><a href="/about/">Company</a></li>
                 <li><a href="/blog/leankit-home/jobs/">Jobs</a></li>
                 <li><a href="/why-leankit">Why LeanKit</a></li>
                 <li><a href="/blog/">Blog</a></li>
               </ul>
             </div>
           </div>
           <div class="global-footer__social global-footer__link-map global-footer__column">
             <div class="global-footer__social__title global-footer__heading">
               <h4>Connect</h4>
             </div>
             <div class="global-footer__link-map__list global-footer__social__list">
               <ul>
                 <li class="fb"><a href="https://www.facebook.com/leankit">Facebook</a></li>
                 <li class="tw"><a href="https://twitter.com/LeanKit">Twitter</a></li>
                 <li class="in"><a href="https://www.linkedin.com/company/leankit">LinkedIn</a></li>
                 <li class="yt"><a href="https://www.youtube.com/user/LeanKitInc">Youtube</a></li>
                 <li class="gp"><a href="https://plus.google.com/u/0/+LeanKitInc/posts">Google+</a></li>
               </ul>
             </div>
           </div>
           <div class="global-footer__colophon">
             <span>&copy; 2015 LeanKit Inc. All rights reserved.</span>
           </div>
         </div>
       </footer>