<header class="site-header">
    <div class="site-header__content">
        <h1>
            <a href="http://leankit.com">
                <span>LeanKit</span>
            </a>
        </h1>
        <nav class="main-navigation">
            <ul id="menu-main-navigation" class="nav navbar-nav navbar-right">
                <li class="dropdown-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="http://leankit.com/product/">Product</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://leankit.com/product/">Overview</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://leankit.com/platform/">Platform</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://leankit.com/platform/integrate/">Integrations</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://info.leankit.com/product-demo">Demo</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://leankit.com/pricing/">Pricing</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://leankit.com/customers/">Customers</a></li>
                <li class="dropdown-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="http://leankit.com/learn/">Learn</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://leankit.com/learn/">Learning Center</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://support.leankit.com">Knowledge Base</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://leankit.com/training/">Training</a></li>
                    </ul>
                </li>
                <li class="visible-xs menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="http://leankit.com/blog/">Blog</a></li>
                <li class="trial-signup-button menu-item menu-item-type-custom menu-item-object-custom"><a href="http://info.leankit.com/get-leankit">Sign Up Free</a></li>
                <li class="login-button menu-item menu-item-type-custom menu-item-object-custom"><a href="https://login.leankit.com/Account/Membership/Login">Login</a></li>
            </ul>
        </nav>
        <div id="mobile-nav-toggle">
            <input class="menu-open" id="menu-open" name="menu-open" type="checkbox">
            <label class="menu-open-button" for="menu-open">
                <span class="hamburger hamburger-1"></span>
                <span class="hamburger hamburger-2"></span>
                <span class="hamburger hamburger-3"></span>
            </label>
        </div>
        <div class="sliding-panel-content"></div>
        <div class="sliding-panel-fade-screen"></div>
    </div>
</header>

<section class="global-section-navigation">
    <div class="module">
        <div class="global-section-navigation__container">
            <div class="global-section-navigation__title">
                <h2>{{@blog.title}}</h2>
            </div>
        </div>
    </div>
</section>
