<section class="global-trustmarks section--global">
  <div class="module--full-width">
    <div class="module">
      <div class="global-trustmarks__title section__title">
        <h3>You're in good company.</h3>
        <p>Our customers are the best. <a href="http://leankit.com/customers/">Read their stories.</a></p>
      </div>
      <div class="global-trustmarks__logos">
        <a href="http://leankit.com/customers/"><img alt="LeanKit Customers" src="/assets/images/logos.png"></a>
      </div>
    </div>
  </div>
</section>
